/*
Theme Name: mynewtheme
*/

.menu-item {
  list-style: none;
}

.home-img {
  border: solid 5px #f7c10b;
}

.cat {
  font-size: 1.5em;
}

.card-title {
  font-weight: bold;
  font-size: 1.6em;
}

.auth, .date {
  font-size: 1.5em;
}


@media only screen and (max-width: 1200px) {
  .home-img {
    margin-bottom: 30px;
  }
}
